
<div id="page-wrapper">
        <div class="admin-login">
            <div class="admin-login__cont">
                <div class="login-form">
                    <section id="loginForm">
                        <form #formLogin="ngForm" (onSubmit)="onSubmit()">
                            <div class="admin-login__logo">
                                <img src="http://localhost:4200/assets/images/icon.png" />
                                <p>
                                    <label class="label-login">Maxi Orders</label>
                                </p>
                            </div>
                            <div class="admin-login__field clearfix">
                                <label class="col-md-4 control-label">Usuario</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" required>
                                </div>
                            </div>
                            <div class="admin-login__field clearfix">
                                <label class="col-md-4 control-label">Contraseña</label>
                                <div class="col-md-8">
                                        <input type="password" class="form-control" required>
                                </div>
                            </div>
                            <div class="admin-login__btn">
                                <input type="submit" value="Ingresar"/>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>