
body {
    margin-top: 100px;
    background-color: #0B535D !important;
    font-family: 'Segoe UI', sans-serif;
    color:#a1a1a1;
}

.label-login {
    font-weight: normal;
    font-size: 20px;
}

.form-control {
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075); 
    /* -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; */
    /* -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
    /* transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
}

.form-control:focus {
    outline:none !important;
    box-shadow:none !important;
    border-color:#F6921D;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}



.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}


/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

#menu > li {
    width: 225px;
}

/* estilos login */

.admin-login {
    border:4px solid rgba(115,196,251,1);
    background-color: #eee;
    width:400px;
    position:absolute;
    padding:50px;
    left:50%;
    top:50%;
    margin-left:-200px;
    margin-top:-240px;
    color:#a1a1a1;
    -webkit-box-shadow: 3px 8px 17px -1px rgba(115,196,251,1);
    -moz-box-shadow: 3px 8px 17px -1px rgba(115,196,251,1);
    box-shadow: 3px 8px 17px -1px rgba(115,196,251,1);
    border-radius: 10px;
}
    .admin-login h1 {
        text-align:center;
        text-transform:uppercase;
        letter-spacing:.2em;
    }
    .admin-login input[type=submit]{
        width:100%;
        background-color:#F6921D;
        border:none;
        color:#211a19;
        text-transform:uppercase;
        padding:15px 0;
        font-size:22px;
        letter-spacing:.2em;
        border-radius: 10px;
    }
.admin-login__field {
    margin-bottom:15px;
}
.admin-login__field label {
    padding:0;
    letter-spacing:.1em;
    margin-top: 10px;
}
.admin-login__field input{
    background:none;
    border:none;
    border-radius:0;
    border-bottom:1px solid #999;
}
.admin-login__btn {
    padding-top:15px;
}
.admin-login__logo {
    text-align:center;
    margin-bottom:40px;
}
.admin-login__logo img{
    width:40%;
    height: 40%;
}